{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Uploaded Images</h2>

            {% for image in images %}
                <div class="mb-3">
                    <img src="{{ image.image_file.url }}" alt="Converted Image" class="img-fluid">
                    
                    <!-- Download button for each image -->
                    <a href="{{ image.image_file.url }}" download="image{{ forloop.counter }}" class="btn btn-success mt-2">
                        Download Image
                    </a>
                </div>
            {% endfor %}

            <div class="text-center">
                <a href="{% url 'upload_image' %}" class="btn btn-primary mt-3">Upload Another Image</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
